<h2 style="text-align: center;">OUR DEPARTMENTS</h2>
<div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/english.png" class="card-img-top" alt="..." width="100" height="150">
        <div class="card-body">
          <h5 class="card-title">English</h5>
          <p class="card-text">The department of english is the one of the prestigious departments posters.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/computerappl.png" class="card-img-top" alt="..." width="100" height="150">
        <div class="card-body">
          <h5 class="card-title">Computer Application</h5>
          <p class="card-text">Computer Application is the study of computer and computational systems.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/tourism.png" class="card-img-top" alt="..." width="100" height="150">
        <div class="card-body">
          <h5 class="card-title">Travel & Tourism</h5>
          <p class="card-text">Bachelor of Travel and Tourism.</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="../../../assets/economics.png" class="card-img-top" alt="..." width="100" height="150">
          <div class="card-body">
            <h5 class="card-title">Economics</h5>
            <p class="card-text">Economics is a social science that study scarcity and implications.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../../../assets/commerce.png" class="card-img-top" alt="..." width="100" height="150">
          <div class="card-body">
            <h5 class="card-title">Commerce</h5>
            <p class="card-text">Commerce as a discipline of trade and businuess equips the study.</p>
          </div>
        </div>
      </div>
  </div><br>