<br>
<footer class="footer text-bg-dark p-3  clearfix">
    <div class="second-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget_text clearfix">
                        <!-- <div class="footer-logo">
                            <img id="footer-logo-img" class="img-center lazyload" src="images/footer-logo.png" data-src="images/footer-logo.png" alt="image">
                        </div> -->
                        <div class="textwidget widget-text"><br>
                        <h3 class="widget-title">Contact US</h3>
                            <p class="pb-10 pr-30 res-575-pr-0" style="color:aliceblue">NAHER ARTS & SCIENCE COLLEGE P O KANHIRODE, KOODALI(Via) KANNUR(Dist),KERALA-670592<br> Phone : 04972-857031,9495630906<br> Email: naherkmj&#64;gmail.com</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget_nav_menu clearfix"><br>
                       <h3 class="widget-title">Featured Links</h3>
                        <ul id="menu-footer-quick-links">
                        <li><a href="#" target="_blank" style="color:aliceblue">Highlights</a></li>
                            <li><a href="" target="_blank" style="color:aliceblue">Admissions</a></li>
                            <li><a href="" style="color:aliceblue">Courses</a></li>
                            <li><a href="" style="color:aliceblue">Departments</a></li>
                            <li><a href="" style="color:aliceblue">Gallery</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget_nav_menu clearfix"><br>
                       <h3 class="widget-title">Quick Links</h3>
                        <ul id="menu-footer-quick-links">
                            <li><a href="" target="_blank" style="color:aliceblue">Home</a></li>
                            <li><a href="" target="_blank" style="color:aliceblue">Management</a></li>
                            <li><a href="" target="_blank" style="color:aliceblue">Governing Body</a></li>
                            <li><a href="" target="_blank" style="color:aliceblue">Vision & Mission</a></li>
                            <li><a href="" target="_blank" style="color:aliceblue">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                    <div class="widget widget_nav_menu clearfix">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7807.661277672849!2d75.45655465503452!3d11.916872008905115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba43ba7dc0c55a3%3A0xfdffcf97b80d27a!2sNAHER%20Arts%20%26%20Science%20College!5e0!3m2!1sen!2sin!4v1695290517063!5m2!1sen!2sin" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer-text text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <ul id="menu-footer-menu" class="footer-nav-menu ttm-textcolor-white">
                        <li><a href="#">Employees</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Free Language Services</a></li>
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Webmaster Login</a></li>
                    </ul> -->
                   
                    <div class="text-center pb-15"> © Copyright reseved 2024 , Designed by <a href="" style="color: black;">Afra concepts </a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
