<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="../../../assets/naherlogo.png" alt="school" width="250" height="30">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Department
            </a>
            <ul class="dropdown-menu ">
              <li><a class="dropdown-item text-dark" routerLink="/english">English</a></li>
              <li><a class="dropdown-item text-dark" routerLink="/economics">Economics</a></li>
              <li><a class="dropdown-item text-dark" routerLink="/computerapplication">Computer Application</a></li>
              <li><a class="dropdown-item text-dark" routerLink="/travel&tourism">Travel and Tourism</a></li>
              <li><a class="dropdown-item text-dark" routerLink="/commerce">Commerce</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
