<br><br><br>
<img src="../../../assets/college3.png" alt="management" height="300" width="1250"><br><br>
<p>NAHER Arts & Science College, Kanhirode is the first step towards the realization of an ambitious project of Kanhirode Muslim Jama-ath Committee to impart quality education in basic and applied science, humanities and social sciences to the young boys and girls of this region. The institution is situated off Kudukkimotta Bazaar, opposite 220 KV substation, Kanhirode beside Kannur Mattannur Road, 13 km away from Kannur town. Our vision is to develop NAHER (National Academy for Higher Education and Research) into a centre of academic excellence by providing ideal infrastructural and institutional facilities. The institution has been recognized by the government of Kerala and is affiliated to Kannur University. We envisage the institution as a purely secular, cosmopolitan and co-educational centre of higher education .Our long term plan is to develop the institution into an academy for higher education with post graduate research departments and a prestigious MBA School.

</p>

