<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/college1.png" class="d-block w-100" alt="..." width="100" height="450">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/college2.png" class="d-block w-100" alt="..." width="100" height="450">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/college3.png" class="d-block w-100" alt="..." width="100" height="450">
      </div>
    </div>
  </div>
  <br>
  <p>Naher Arts And Science College is run by Kanhirode Muslim Jama ath committee, established in 2012 and is affiliated to Kannur university. The college is co- educational and maintains a secular outlook with freedom of individuals faith and thought. We promise to impart best quality education and mould responsible citizens who could creatively contribute to the society. It aims to empower students with an instinct for empathy and compassion and adequately equipped with relentless power of advance knowledge and competency skills to boldly face the toughest challenges of the competitive era thereby bring out the best in them. We offer undergraduate courses with a duration of three years and a span of six semesters respectively.</p>
  <br>
